services:
  nginx:
    image: nginx
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./src/nginx/conf/:/etc/nginx/conf.d/:ro
      - ./src/nginx/keys/:/etc/nginx/ssl/:ro
  webapp:
    build: .
    env_file:
      - flask.env
    command: gunicorn --bind 0.0.0.0:8000 wsgi:app
    expose:
      - "8000"
  db: 
    image: mysql:9.0.1
    restart: always
    env_file:
      - db.env
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql

volumes:
  my-db:

