services:
  nginx:
    image: nginx
    ports:
      - '8080:80'
      - '8443:443'
    volumes:
      - ./src/nginx/conf/:/etc/nginx/conf.d/:ro
      - ./src/nginx/keys/:/etc/nginx/ssl/:ro
    depends_on:
      - mailcom
  mailcom:
    image: iulusoy/donation-webserver-frontend:latest
    env_file:
      - .env
    expose:
      - '3000'
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ORIGIN=https://localhost:8443
      - BUILD_MODE=false
  db:
    image: mysql:9.2.0
    restart: always
    env_file:
      - .env
    command: --pid-file /var/lib/mysql/mysqld.pid
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql
    sysctls:
      - net.ipv4.tcp_timestamps=0
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  my-db:
