# workflow for testing the frontend
name: frontend-CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
  
jobs:
  test-frontend:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    steps:
        - name: Checkout
          uses: actions/checkout@v4
  
        - uses: pnpm/action-setup@v4
          name: Install pnpm
          with:
            version: 10
            run_install: false
  
        - name: Install Node.js
          uses: actions/setup-node@v4
          with:
            node-version: 22
            cache: 'pnpm'
            cache-dependency-path: 'src/frontend/pnpm-lock.yaml'
  
        - name: Install dependencies
          run: |
            cd src/frontend 
            pnpm install
            
        - name: Generate SvelteKit files
          run: |
            cd src/frontend
            pnpm svelte-kit sync
            
        - name: run basic tests typescript
          run: |
            cd src/frontend
            pnpm run test:unit

        - name: Install Playwright Browsers and run tests
          run: |
            cd src/frontend
            # pnpm install playwright
            pnpm exec playwright install --with-deps
            pnpm test
        - uses: actions/upload-artifact@v4
          if: ${{ !cancelled() }}
          with:
            name: playwright-report
            path: playwright-report/
            retention-days: 30