@import "tailwindcss";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-svelte";

@custom-variant dark (&:where(.dark, .dark *));
/* colors: { */
/* primary: colors.red, */
/* secondary: colors.slate, */
/* } */
@theme {
  --font-script: Great Vibes, cursive;
  --color-primary-50: #fdf2f2;
  --color-primary-100: #fde8e8;
  --color-primary-200: #fbd5d5;
  --color-primary-300: #f8b4b4;
  --color-primary-400: #f98080;
  --color-primary-500: #f05252;
  --color-primary-600: #e02424;
  --color-primary-700: #c81e1e;
  --color-primary-800: #9b1c1c;
  --color-primary-900: #590d08;
  --color-custom-100: #cbbd9c;
}

html,
body {
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/images/Alle_Hintergrundbilder.svg");
  background-size: 80%;
  background-repeat: repeat;
  background-color: #590d08; /* is on the ppt, is color-red-900 #82181a; #fffbeb is another less straining option; */
  /* cbbd9c is the background on card and button */
}
